<h1>
    <%= title %>
    <div id="create-project">
        <h1><u>CREATE PROJECT</u></h1>
        <form action="/create" method="POST">
             <input type="text" name="name" placeholder="enter project name">
             <input type="text" name="description" placeholder="description">
             <input type="text" name="author" placeholder="enter author name" >

             <button type="submit">ADD PROJECT</button>
        </form>

        <h1><u>PROJECTS LIST</u></h1>
        <div>
           <ul>
              <%var index = 0;%>
              <% for(let i of project_list){ %>
                  <li><a href="/details/?idx=<%= index %>"><%= i.name %></a></li>
                  <%index++%>
              <%}%>


           </ul>
            
                
        </div>

    </div>
</h1>
    